.header {
    /* border: 1px solid black; */

    display: flex;
    align-items: center;

}
.header-settings {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.avatar-caption .mid {
    text-align: center;
}
.avatar-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow:  4px 8px 8px #888888;
}
.avatar-image {
    position: relative;
    /* border: 1px solid black; */
}
.avatar-icon {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 80%;
    right: .75rem;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-color: blue;
    text-align: center;
    cursor: pointer;
}
.avatar-icon i {
    line-height: 35px;
    font-size: 1rem;
    color: white;
}

.avatar-caption {
    margin-left: 1rem;
}
.content {
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* display: flex; */
    margin-top: 3rem;
    /* justify-content: space-between; */
}
.col-flex {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.col-flex p {
    margin-bottom: 0;
}
.col-flex h5 {
    /* border: 1px solid black; */
    padding: .5rem ;   
}